.notification {
    color: #5294e2;
    padding: 1em;
    font-size: 1.2em;
    font-weight: 600;
    border: solid;
    border-radius: 0.5em;
    border-width: 0.2em;
    border-color:#5294e2;
    margin: 0.4em;
}

.blogPost {
    margin: 1em;
    line-height: 0.5em;
    padding: 1em;
    border: solid;
    border-width: 0.1em;
}